._le_wrapper,
._le_container,
._le_list_container,
._le_item_list {
  display: flex;
}

._le_container,
._le_list_container {
  flex-direction: column;
}


._le_wrapper {
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  // background: linear-gradient(to bottom, #020230, rgba(0, 0, 0, 0)),
  //   url("../../assets//images/bg.jpg") center no-repeat;
  // background-size: cover;
}

._le_container {
  width: 100%;
  gap: $mr-s;

  img {
    align-self: center;
    width: $logo-xs;
  }
}

._le_list_container {
  align-items: center;
  gap: $mr-xs;
}

._le_item_list {
  justify-content: center;
  
  padding: $pd-xs 0;
  
  font-size: $font-btn-s;
  font-weight: $font-bold;

  color: $indigo-dye;
  background-color: $white;

  width: 80%;

  border-radius: $bdr-s;
}

.active {
  background-color: $yellow-green;
  color: $white;
}

