._le_wrapper,
._le_container,
._le_list_container,
._le_item_list {
  display: flex;
}

._le_container,
._le_list_container {
  flex-direction: column;
}

._le_wrapper {
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 0 3rem;
  // background: linear-gradient(to bottom, #020230, rgba(0, 0, 0, 0)),
  //   url("../../assets//images/bg.jpg") center no-repeat;
  // background-size: cover;
}

._le_container {
  width: 100%;
  gap: $mr-s;
}

._le_nossa_logo {
  align-self: center;
  width: $logo-xs;
}

._le_list_container {
  align-items: center;
  gap: $mr-xs;
}

._le_item_list {
  justify-content: center;
  padding: $pd-xs 0;
  font-size: $font-btn-s;
  font-weight: $font-bold;
  color: $indigo-dye;
  background-color: $white;
  width: 80%;
  border-radius: $bdr-s;
}

.active {
  background-color: $yellow-green;
  color: $white;
}

._le_message {
  font-size: $font-title-xl;
  text-align: center;
  margin-bottom: $mr-m;
  color: white;
}

._le_buttons {
  display: flex;
  gap: $mr-m;
  justify-content: center;
  flex-direction: column;
}

._le_button {
  padding: $pd-xs $pd-m;
  font-size: $font-btn-l;
  font-weight: $font-bold;
  color: $white;
  border: none;
  border-radius: $bdr-s;
  cursor: pointer;
}

._le_button_yes {
  background-color: $yellow-green;
}

._le_button_yes:hover {
  background-color: darken($yellow-green, 10%);
}

._le_button_no {
  background-color: $chili-red;
}

._le_button_no:hover {
  background-color: darken($chili-red, 10%);
}

/* ============= Media Queries ============= */
@media (max-width: 430px) {
  ._le_container {
    gap: $mr-xxl;
  }

  ._le_nossa_logo {
    width: $logo-s;
  }

  ._le_list_container {
    gap: $mr-s;
  }

  ._le_item_list {
    padding: $pd-s 0;
    font-size: $font-btn-s;
  }
}

@media (max-width: 414px) {
  ._le_container {
    gap: $mr-xxl;
  }
  ._le_nossa_logo {
    width: $logo-xxs;
  }

  ._le_list_container {
    gap: $mr-s;
  }

  ._le_item_list {
    font-size: $font-btn-s;
  }
}

@media (max-width: 375px) {
  ._le_container {
    gap: $mr-xl;
  }
  ._le_nossa_logo {
    width: $logo-xxs;
  }

  ._le_list_container {
    gap: $mr-s;
  }

  ._le_item_list {
    padding: $pd-m 0;
    font-size: $font-btn-xs;
  }
}

@media (max-width: 320px) {
  ._le_container {
    gap: $mr-s;
  }

  ._le_nossa_logo {
    width: $logo-xs;
  }

  ._le_list_container {
    gap: $mr-xs;
  }
}
