._hm_wrapper {
  min-height: 100vh;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  // background: linear-gradient(to bottom, #020230, rgba(0, 0, 0, 0)),
  //   url("../../assets//images/bg.jpg") center no-repeat;
  background-size: cover;

  span {
    color: #fff;
    font-size: $font-title-s;
    text-align: center;
    display: block;
  }
}

._hm_container {
  width: 100%;
  display: inherit;
  flex-direction: column;
  gap: 3rem;

  img {
    width: $logo-s;
    margin: auto;
  }
}

._hm_btn_containers {

  display: inherit;
  justify-content: center;
  margin-top: $mr-m;
  
  ._hm_start_game {
    font-size: $font-btn-xxl;
    font-weight: $font-bold;

    padding: $pd-s;

    border-radius: 5rem;
    border: .4rem solid $white;

    background-color: $yellow-green;
    color: $indigo-dye;
  }
}


