._hm_wrapper {
  min-height: 100vh;
  padding: 30rem 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #020230, rgba(0, 0, 0, 0)), url("../../assets//images/bg.jpg") center no-repeat;
  background-size: cover;

  span {
    color: #fff;
    font-size: 6rem;
    text-align: center;
    display: block;
  }
}

._hm_container {
  width: 100%;
  margin-top: -300px;
  display: inherit;
  flex-direction: column;
  gap: 10rem;

  img {
    display: inline-block;
    align-self: center;
  }
}

._hm_btn_containers {
  margin-top: 3rem;

  display: inherit;
  flex-direction: inherit;
  gap: 5rem;

  button {
    font-size: 3rem;
    font-size: bold;

    width: 100%;
    padding: 1.5rem;

    border-radius: 5rem;
  }
}

._hm_start_game {
}
