._sp_wrapper {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

._sp_logo-nossa {
  width: 200px;
  height: 200px;

}

.teste {
    animation: teste cubic-bezier(0.68, -0.55, 0.27, 1.55) 1s infinite alternate;
}

@keyframes teste {
  0% {
    transform: rotate('6deg');
  }

  100% {
    transform: rotate('-6deg');
  }
}


