._tr_wrapper {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: url("../../assets/svg/background-2.svg");
  background-size: cover;
}

._timer_container {
  border-top: 2rem solid $yellow-green;
  border-bottom: 2rem solid $yellow-green;
}

._tr_display_container {
  width: 100%;
  padding: 8rem;
  border-bottom: 2rem solid $yellow-green;
  background-color: $indigo-dye;
}


._tr_question {
  font-size: 8rem;
  text-align: center;
  text-transform: uppercase;

  color: $white;

  display: flex;
  justify-content: center;
}

._tr_answers_container {
  padding: $mr-x;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

/* ============= Media Queries ============= */

