

._qz_wrapper {
    height: 100vh;
    background: linear-gradient(to bottom, #020230, rgba(0, 0, 0, 0)), url("../../assets//images/bg.jpg") center no-repeat;
    background-size: cover;
}

._qz_timer {
    width: 100%;
    height: 30px;
    background-color: red;
}

/* ============= Media Queries ============= */