/* ============= Font weight ============= */
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;


/* ============= Colours ============= */
$yellow-green: #98C93C;
$hooker-green: #557E6C;
$indigo-dye: #264F68;
$chili-red: #E70E02;
$black: #000000;
$white: #FFFFFF;

/* ============= Font and Typography ============= */
$font-title-xs: 1rem;
$font-title-s: 1.5rem;
$font-title-m: 2rem;
$font-title-l: 2.5m;
$font-title-xl: 3rem;
$font-title-xxl: 3.6rem;
$font-title-3xl: 4.5rem;

$font-btn-xxs: 1rem;
$font-btn-xs: 1.5rem;
$font-btn-s: 2rem;
$font-btn-m: 2.75rem;
$font-btn-l: 3.25rem;
$font-btn-xl: 4rem;
$font-btn-xxl: 4.50rem;


/* ============= Margenes ============= */
$mr-xs: .7rem;
$mr-s: 1rem;
$mr-m: 2rem;
$mr-x: 2.5rem;
$mr-xl: 3.2rem;
$mr-xxl: 4.5rem;

// padding
$pd-xs: .7rem;
$pd-s: 1rem;
$pd-m: 1.5rem;
$pd-l: 2rem;
$pd-xl: 3.2rem;
$pd-xxl: 4.5rem;

// Borders
$bd-s: .4rem;


// Border Radios
$bdr-s: 5rem;


/* ============= Image Sizes ============= */
$logo-xs: 9rem;
$logo-xxs: 12rem;
$logo-s: 13rem;
$logo-s: 16rem;
$logo-m: 23rem;

