._lo_wrapper {
  min-height: 100vh;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  // background: linear-gradient(to bottom, #020230, rgba(0, 0, 0, 0)), url("../../assets//images/bg.jpg") center no-repeat;
  // background-size: cover;

  span {
    color: $white;
    font-size: $font-title-xl;
    text-align: center;
    display: block;
  }
}

._lo_container {
  width: 100%;
  display: inherit;
  flex-direction: column;
  gap: $mr-xxl;

  img {
    display: inline-block;
    align-self: center;

    width: $logo-s;
  }
}

._lo_btn_containers {
  margin-top: $mr-m;
  display: inherit;
}
._lo_cancel_game {
  font-size: $font-btn-xl;
  width: 70%;
  margin: auto;

  padding: $mr-s;

  border-radius: $bdr-s;
  border: $bd-s solid $white;

  background-color: $yellow-green;
  color: $indigo-dye;
}

/* ============= Media Queries ============= */
@media (width <= 320px) {
  ._lo_cancel_game {
    font-size: $font-btn-s;
  }
}
