


._he_wrapper {
    width: 100%;
    padding: 8rem 3rem;
    display: flex;

    img {
        width: 60%;
        margin: 0 auto;;
    }
}



@media (width <= 1024px) {
    
}

@media (width <= 820px) {

}

@media (width <= 768px) {

}
@media (width <= 430px) {
    ._he_wrapper {
        padding: 1.4rem 1rem;
    }
}

@media (width <= 414px) {
    ._he_wrapper {
        padding: 1.4rem 1rem;
    }
}

@media (width <= 375px) {
    ._he_wrapper {
        padding: 1.4rem 1rem;
    }
}

@media (width <= 320px) {
    ._he_wrapper {
        padding: 1rem 1rem;

        img {
            width: 50%;
        }
    }
}