


._mb_btn {
    width: 100%;
    padding: 4rem 2rem;

    background-color: $indigo-dye;

    border: 1.6rem solid $yellow-green;
    border-radius: 100rem;


    span {
        font-size: 8rem;
        font-weight: 900;
        color: $white;
        text-transform: uppercase;
    }
}


@media (width <= 1024px) {

    ._mb_btn {

        border: .6rem solid $yellow-green;
        padding: 2rem 1rem;
        span {
            font-size: 2rem;
        }
    }
}

@media (width <= 820px) {

    ._mb_btn {

        border: .6rem solid $yellow-green;
        padding: 2rem 1rem;
        span {
            font-size: 2rem;
        }
    }
}

@media (width <= 768px) {

    ._mb_btn {

        border: .6rem solid $yellow-green;
        padding: 2rem 1rem;
        span {
            font-size: 2rem;
        }
    }
}
@media (width <= 430px) {

    ._mb_btn {

        border: .6rem solid $yellow-green;
        padding: 2rem 1rem;
        span {
            font-size: 2rem;
        }
    }
}

@media (width <= 414px) {

    ._mb_btn {

        border: .6rem solid $yellow-green;
        padding: 2rem 1rem;
        span {
            font-size: 2rem;
        }
    }
}

@media (width <= 375px) {

    ._mb_btn {

        border: .6rem solid $yellow-green;
        padding: 2rem 1rem;
        span {
            font-size: 2rem;
        }
    }
}

@media (width <= 320px) {

    ._mb_btn {

        border: .6rem solid $yellow-green;
        padding: 2rem 1rem;
        span {
            font-size: 2rem;
        }
    }
}