._mb_btn {
  width: 100%;
  padding: 4rem 2rem;

  background-color: $indigo-dye;

  border: 1.6rem solid $yellow-green;
  border-radius: 100rem;

  span {
    font-size: 8rem;
    font-weight: 900;
    color: $white;
    text-transform: uppercase;
  }
}

/* ============= Media Queries ============= */

@media (width <= 1024px) {
}

@media (width <= 820px) {
}

@media (width <= 768px) {
}
@media (width <= 430px) {
  ._mb_btn {
    padding: 1.4rem;
    border: 0.6rem solid $yellow-green;
    span {
      font-size: 2.6rem;
    }
  }
}

@media (width <= 414px) {
  ._mb_btn {
    padding: 1.4rem;
    border: 0.6rem solid $yellow-green;
    span {
      font-size: 2.6rem;
    }
  }
}

@media (width <= 375px) {
  ._mb_btn {
    padding: 1.4rem;
    border: 0.6rem solid $yellow-green;
    span {
      font-size: 2.2rem;
    }
  }
}

@media (width <= 320px) {
  ._mb_btn {
    padding: 1rem;
    border: 0.4rem solid $yellow-green;
    span {
      font-size: 1.8rem;
    }
  }
}
