


._mainButton {
    width: 100%;

    background: url("../../../assets/svg/button.svg") no-repeat;
    text-align: center;
    background-size: contain;
    background-position: center;
    color: white;
}