._fo_wrapper {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 3rem 6rem;
}

._fo_social_container {
  display: flex;
  gap: 3rem;

  ._fo_social_icon {
    font-size: 3rem;
    padding: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: $white;
    clip-path: circle();
  }
}

._fo_link_container {
  span {
    color: $white;
    font-size: 3rem;
    font-family: "Noto Sans", sans-serif;
  }
}

/* ============= Media Queries ============= */

@media (width <= 1024px) {

}

@media (width <= 820px) {

}

@media (width <= 768px) {

}
@media (width <= 430px) {
  ._fo_wrapper {
    padding: 1.6rem 2rem;
  }

  ._fo_social_container {
    gap: 1.2rem;
    ._fo_social_icon {
      font-size: 2.2rem;
      padding: .4rem;
    }
  }

  ._fo_link_container {
    span {
      font-size: 1.8rem;
    }
  }

}

@media (width <= 414px) {
  ._fo_wrapper {
    padding: 1.6rem 2rem;
  }

  ._fo_social_container {
    gap: 1.2rem;
    ._fo_social_icon {
      font-size: 2.2rem;
      padding: .4rem;
    }
  }

  ._fo_link_container {
    span {
      font-size: 1.8rem;
    }
  }
}

@media (width <= 375px) {
  ._fo_wrapper {
    padding: 1.6rem 2rem;
  }

  ._fo_social_container {
    gap: 1.2rem;
    ._fo_social_icon {
      font-size: 2rem;
      padding: .4rem;
    }
  }

  ._fo_link_container {
    span {
      font-size: 1.6rem;
    }
  }
}

@media (width <= 320px) {

  ._fo_wrapper {
    padding: 1rem 2rem;
  }

  ._fo_social_container {
    gap: 1rem;
    ._fo_social_icon {
      font-size: 1.6rem;
      padding: .4rem;
    }
  }

  ._fo_link_container {
    span {
      font-size: 1.2rem;
    }
  }
}