._in_wrapper {
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  background: url("../../assets/svg/background.svg") no-repeat;
  background-size: cover;
}

._in_title {
  color: #fff;
  font-size: $font-title-s;
  text-align: center;
  display: block;
}

._in_container {
  width: 100%;
  display: inherit;
  flex-direction: column;
  gap: 10rem;

  margin: auto 0;
}

._in_nossa_logo {
  width: 90%;
  margin: 0 auto;
}

._in_btn_containers {
  display: inherit;
  justify-content: center;
  margin-top: $mr-m;

}




/* ============= Media Queries ============= */
