._in_wrapper {
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  background: url("../../assets/svg/background.svg") no-repeat;
  background-size: cover;
}

._in_title {
  color: #fff;
  font-size: $font-title-s;
  text-align: center;
  display: block;
}

._in_container {
  width: 100%;
  display: inherit;
  flex-direction: column;
  gap: 10rem;

  margin: auto 0;
}

._in_nossa_logo {
  width: 90%;
  margin: 0 auto;
}

._in_btn_containers {
  display: inherit;
  justify-content: center;
  margin-top: $mr-m;

}




/* ============= Media Queries ============= */

@media (width <= 1024px) {

}

@media (width <= 820px) {

}

@media (width <= 768px) {

}
@media (width <= 430px) {
  ._in_container {
    gap: 4rem;
    padding: 0 1.4rem;
  }

}

@media (width <= 414px) {
  ._in_container {
    gap: 4rem;
    padding: 0 1.4rem;
  }
}

@media (width <= 375px) {
  ._in_container {
    gap: 3rem;
    padding: 0 1rem;
  }
}

@media (width <= 320px) {
  ._in_container {
    gap: 1rem;
    padding: 0 1rem;
  }
}