._tr_answer {
  text-align: center;
  font-size: 7rem;
  color: $white;

  padding: 4rem 6rem;
  border-radius: 50rem;
  border: 1.5rem solid $yellow-green;

  background: $indigo-dye;

  cursor: pointer;
}

._tr_answer:hover,
._tr_answer.active {
  background: $hooker-green;
}

._tr_answer._tr_correct {
  animation: correct 3s ease forwards;
}

._tr_answer._tr_wrong {
  animation: wrong 3s ease forwards;
}

@keyframes correct {
  0%,
  22%,
  42% {
    background: $indigo-dye;
  }

  20%,
  40%,
  60% {
    background: $hooker-green;
  }

  62%,
  100% {
    background: #39b54a;
  }
}

@keyframes wrong {
  0%,
  22%,
  42% {
    background: $indigo-dye;
  }

  20%,
  40%,
  60% {
    background: $hooker-green;
  }

  62%,
  100% {
    background: #e21726;
  }
}

/* ============= Media Queries ============= */

@media (width <= 1024px) {
}

@media (width <= 820px) {
}

@media (width <= 768px) {
}
@media (width <= 430px) {
  ._tr_answer {
    padding: 1.4rem 1.6rem;
    border: 0.4rem solid $yellow-green;
    p {
      font-size: 1.8rem;
    }
  }
}

@media (width <= 414px) {
  ._tr_answer {
    padding: 1.4rem 1.6rem;
    border: 0.4rem solid $yellow-green;
    p {
      font-size: 1.8rem;
    }
  }
}

@media (width <= 375px) {
  ._tr_answer {
    padding: 1.4rem;
    border: 0.4rem solid $yellow-green;
    p {
      font-size: 1.6rem;
    }
  }
}

@media (width <= 320px) {
  ._tr_answer {
    padding: 1rem;
    border: 0.4rem solid $yellow-green;
    p {
      font-size: 1.3rem;
    }
  }
}
