@media (max-width: 430px) {
    ._sp_logo-nossa {
      width: $logo-m;
      height: $logo-m;
    }
  }
  
  @media (max-width: 320px) {
  
    ._sp_logo-nossa {
      width: $logo-s;
      height: $logo-s;
    }
  }