
@media (width <= 430px) {
    ._tr_question {
      font-size: $font-title-xxl;
    }
      ._tr_answer {
        font-size: $font-btn-l;
      }
  }
  
  @media (width <= 375px) {
    ._tr_answer {
      font-size: $font-btn-m;
    }
  }
  
  @media (width <= 320px) {
    ._tr_answer {
      font-size: $font-btn-s;
    }
  }